API_FOOTBALL_KEY=coloque_sua_chave_aqui
API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_LEAGUE_ID=2
BOLAO_DEFAULT_SEASON=2025
BOLAO_BACKEND_HOST=127.0.0.1
BOLAO_BACKEND_PORT=8080
BOLAO_DB_PATH=/Users/leopicca/Downloads/06_Projetos_e_Criacao/champions-bolao/backend/data/champions_bolao.db
